body {
    background-color: rgb(214, 197, 197);
}

.card-filme{
    transition: 0.3s;
    cursor: pointer;
}

.card-filme:hover {
    transform: scale(1.03);
}

.card-filme img {
    height: 400px;
    object-fit: cover;
}

button {
    border-radius: 10px;
    padding: 10px 30px;
    background-color:rgb(148, 93, 93);
    color:#251d1d;
    border-inline-start: #251d1d;
}

button a {
    text-decoration: none;
    color: #773f3f;
}

.container {
    display: flex;
    justify-content: space-between;
}

